<div
  class="translucentStyle w-400 h-200 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-500 rounded-lg overflow-auto scrollViewStyle justify-center items-center"
>
  <h2 class="ml-5 mt-4 text-2xl">Organize PDF Pages</h2>
  <hr />
  <span></span>
  <hr />

  <div
    class="w-full ml-7 h-[87vh] transform flex flex-wrap max-w-390 overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
    #pdfContainer
  ></div>
</div>
