<div
  class="translucentStyle w-400 h-200 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-500 rounded-lg overflow-auto scrollViewStyle justify-center items-center"
>
  <h2 class="ml-5 mt-4 text-2xl">Organize PDF Pages</h2>
  <hr />

  <div #filterContainer class="p-2 gap-2 flex">
    <app-checkbox
      class="p-2 rounded-sm hover:bg-gray-200 dark:hover:bg-[var(--main_dark_hover_color)]"
      [text]="'Select All'"
      [(IsChecked)]="IsChecked"
      (IsCheckedChange)="handleSelectAll($event)"
    ></app-checkbox>

    <app-image-button
      class="flex"
      (click)="rotatePage($event)"
      [btnText]="'Rotate'"
      [imgSide]="'Left'"
      [lightSrc]="themeService.assetConstants.ROTATE_RIGHT_LIGHT_MODE"
      [darkSrc]="themeService.assetConstants.ROTATE_RIGHT_DARK_MODE"
    ></app-image-button>

    <app-image-button
      class="flex"
      (click)="AddNewPage($event)"
      [btnText]="'Add New Page'"
      [imgSide]="'Left'"
      [lightSrc]="themeService.assetConstants.ADD_NEW_PAGE_LIGHT_MODE"
      [darkSrc]="themeService.assetConstants.ADD_NEW_PAGE_DARK_MODE"
    ></app-image-button>

    <app-image-button
      (click)="SubmitBtnPressed($event)"
      class="absolute right-7"
      [btnText]="'Submit'"
      [bgColor]="'blue-500'"
      [imgSide]="'Right'"
      [lightSrc]="themeService.assetConstants.SUBMIT_ORGANIZE_LIGHT_MODE"
      [darkSrc]="themeService.assetConstants.SUBMIT_ORGANIZE_DARK_MODE"
    ></app-image-button>
  </div>
  <hr />

  <div
    class="w-full ml-7 h-[87vh] transform flex flex-wrap max-w-390 gap-2 overflow-y-auto scrollViewStyle"
    #pdfContainer
  ></div>
</div>
