<div class="flex">
  <app-navigator-component
    class="flex flex-col justify-center items-center h-screen"
  ></app-navigator-component>

  <app-toolbar-component
    (textBoxClicked)="canCreateTextBox()"
    (imgInsertClicked)="canCreateImg(); fileInput.click()"
  ></app-toolbar-component>

  <input
    type="file"
    accept="image/*"
    #fileInput
    style="display: none"
    (change)="onFileSelected($event)"
  />

  <app-pdf-viewer-component
    #pdfViewer
    (click)="createTextBox($event)"
    (click)="createImageBox($event)"
    class="w-screen flex flex-col items-center justify-center px-4"
  ></app-pdf-viewer-component>

  <ng-container #dynamicContainer></ng-container>
</div>

<app-zoom-controller></app-zoom-controller>
