.upload_area_container, .title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload_area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: auto;
    z-index: 2;
}

.glassyOverlay {
    position: absolute; /* 👈 KEY FIX */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: auto;
    z-index: 5;
}
