
<div class="textBoxStyle w-[110px] h-[30px]  border border-dashed border-gray-700
           hover:border-gray-900 hover:shadow-md cursor-move resize both overflow-hidden"
    (mousedown)="onDragStart($event)"
    (dragend)="onDragEnd($event)"
    draggable="true"
    #editableDiv
    [ngStyle]="{ top: box.top + 'px', left: box.left + 'px' }">

  <textarea
    class="textBoxStyle w-full h-full
          outline-none border border-gray-300 text-sm overflow-hidden leading-normal"
    [style.color]="textEditService.getCurrentTextStyleEditorById(box.id).currentColor"
    contenteditable="true"
    (input)="onInput($event)"> {{ box.text }}
  </textarea>

  
    <!-- <div
      *ngIf="isDragging"
        class="textBoxStyle"
        [style.left.px] = "mouseX"
        [style.top.px] = "mouseY">
        <input placeholder="Text" class="ghostInput"/>
    </div> -->
</div>