

<div class="textBoxStyle border-4 border-dashed border-blue-500 z-50
           hover:border-blue-700 hover:shadow-md cursor-move resize both overflow-hidden"
    (mousedown)="onDragStart($event)"
    (dragend)="onDragEnd($event)"
    draggable="true"
    #editableDiv
    [ngStyle]="{ transform: 'translate(' + box.BoxDims.left + 'px, 
                                       ' + box.BoxDims.top + 'px)',
                                      width: box.BoxDims.width + 'px',
                                      height: box.BoxDims.height + 'px'}">
  
      
      <div>
        <textarea
          class="textBoxStyle w-full h-full
                outline-none  overflow-hidden leading-normal"
          [style.color]="textEditService.getCurrentTextStyleEditorById(box.id)?.currentColor"
          contenteditable="true"
          [ngStyle]="{ 'font-size': box.textStyleEditorState.font_size + 'px' , 'font-family' : box.textStyleEditorState.fontFamily}"
          (input)="onInput($event)"> {{ box.text }}
        </textarea>
      </div>

  
    <!-- <div
      *ngIf="isDragging"
        class="textBoxStyle"
        [style.left.px] = "mouseX"
        [style.top.px] = "mouseY">
        <input placeholder="Text" class="ghostInput"/>
    </div> -->
</div>