
<div class="textBoxStyle border border-dashed border-gray-700
           hover:border-gray-900 hover:shadow-md cursor-move resize both overflow-hidden"
    (mousedown)="onDragStart($event)"
    (dragend)="onDragEnd($event)"
    draggable="true"
    #editableDiv
    [ngStyle]="{ top: box.BoxDims.top + 'px', 
                left: box.BoxDims.left + 'px',
                width: box.BoxDims.width + 'px',
                height: box.BoxDims.height + 'px'}">

  <textarea
    class="textBoxStyle w-full h-full
          outline-none border border-gray-300 overflow-hidden leading-normal"
    [style.color]="textEditService.getCurrentTextStyleEditorById(box.id).currentColor"
    contenteditable="true"
    [ngStyle]="{ 'font-size': box.textStyleEditorState.font_size + 'px'}"
    (input)="onInput($event)"> {{ box.text }}
  </textarea>

  
    <!-- <div
      *ngIf="isDragging"
        class="textBoxStyle"
        [style.left.px] = "mouseX"
        [style.top.px] = "mouseY">
        <input placeholder="Text" class="ghostInput"/>
    </div> -->
</div>