<div class="fixed flex items-center justify-left text-center top-[2%] z-10
            translucentStyle  left-1/2 transform -translate-x-1/2 rounded-xl"
	[@slideInOut]="this.textEditService.getCurrentTextStyleEditor().isCollapsed ? 'out' : 'in'" id="colorBar">

	<div class="flex-col mt-2" id="TextStyleContainer">
		<div class="flex">
			<div *ngFor="let color of colors" class="color-container" [ngClass]="{ 'color-white': color === '#FFFFFF' }"
				[style.background-color]="color" [title]="color" (click)="onColorSelect(color)">
			</div>
		</div>

		<div class="relative flex text-center mt-2 mb-2">
			<div class="relative inline-block text-center mt-2 mb-2 " id="fontSelect">
				<div>
					<button (click)="toggleFontDropDown()" type="button" class="dropdownBtnStyle rounded-md ml-1 h-10 px-2 flex items-center">{{currentFont}}
						<svg class="-mr-1 ml-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
							stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
						</svg>
					</button>
				</div>

				@if (isFontDropDownOpen) {
					<div class="absolute z-10 -mt-1 translucentStyle  bg-white/100 backdrop-blur-lg rounded-xl flex-col justify-center">

						@for (font of fontOptions ; track $index) {
							@if ($index == 0) {}
							@else if ($index == 1) {
								<button [ngClass]="'font-' + font.name.toLowerCase()" (click)="SelectedFont(font.name)"
										class="dropdownBtnStyle block text-sm text-black w-30 h-6 
												hover:bg-gray-200 text-center rounded-t-xl">{{font.name}}
								</button>
							}
							@else if (fontOptions.length - 1 == $index) {
								<button [ngClass]="'font-' + font.name.toLowerCase()" (click)="SelectedFont(font.name)"
										class="dropdownBtnStyle block  text-sm text-black w-30 h-6
												hover:bg-gray-200 text-center rounded-b-xl">{{font.name}}
								</button>
							}
							@else {
								<button [ngClass]="'font-' + font.name.toLowerCase()" (click)="SelectedFont(font.name)"
										class="dropdownBtnStyle block  text-sm text-black w-30 h-6
												hover:bg-gray-200 text-center">{{font.name}}
								</button>
							}

						}
					</div>
				}

			</div>

			<div class="flex px-2 text-center rounded-md text-sm font-medium
						ml-1 mt-2 mb-2 items-center justify-center cursor-pointer">
						
				<div class="relative inline-block items-center justify-center border-1 border-gray-300/100 rounded-md hover:bg-gray-50/100">
					<div class="flex items-center justify-center" id="fontSizeSelect">
						<input type="text" class="ml-1 w-5 h-6 resize-none cursor-text outline-none  overflow-hidden leading-normal" 
								[(ngModel)]="currentFontSize" (ngModelChange)="SelectedFontSize($event)">
						<svg (click)="toggleSizeDropDown()" class="mr-1 ml-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
							stroke="currentColor" stroke-width="2">
							<path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
						</svg>
					</div>
				

					@if (isFontSizeDropDownOpen) {
					<div class="mt-1 translucentStyle absolute z-10 flex-col justify-center bg-white/100 backdrop-blur-lg rounded-xl">
						@for (i of fontSizeSteps; track $index) {
							@if ($index == 0) {
								<button  (click)="SelectedFontSize(i)"
										class="dropdownBtnStyle block text-sm text-black w-15 h-6
												hover:bg-gray-200 text-center rounded-t-xl">{{i}}
								</button>
							}
							@else if (fontSizeSteps.length - 1 == $index) {
								<button  (click)="SelectedFontSize(i)"
										class="dropdownBtnStyle block  text-sm text-black  w-15 h-6
												hover:bg-gray-200 text-center rounded-b-xl">{{i}}
								</button>
							}
							@else {
								<button (click)="SelectedFontSize(i)" class="dropdownBtnStyle block  text-sm text-black  w-15 h-6
												hover:bg-gray-200 text-center">{{i}}
								</button>
							}
						}
					</div>
					}
				</div>
			</div>
		</div>


	</div>



	<!-- <div class="color-container" style="background-color: #000000;" title="Black" (click)="onColorSelect(Black)"></div>
  <div class="color-container" style="background-color: #8B0000;" title="Dark Red"></div>
  <div class="color-container" style="background-color: #800000;" title="Maroon"></div>
  <div class="color-container" style="background-color: #8B4513;" title="Saddle Brown"></div>
  <div class="color-container" style="background-color: #FF8C00;" title="Dark Orange"></div>
  <div class="color-container" style="background-color: #DAA520;" title="Goldenrod"></div>
  <div class="color-container" style="background-color: #808000;" title="Olive"></div>
  <div class="color-container" style="background-color: #228B22;" title="Forest Green"></div>
  <div class="color-container" style="background-color: #008080;" title="Teal"></div>
  <div class="color-container" style="background-color: #4682B4;" title="Steel Blue"></div>
  <div class="color-container" style="background-color: #4169E1;" title="Royal Blue"></div>
  <div class="color-container" style="background-color: #4B0082;" title="Indigo"></div>
  <div class="color-container" style="background-color: #9400D3;" title="Dark Violet"></div>
  <div class="color-container" style="background-color: #BA55D3;" title="Medium Orchid"></div>
  <div class="color-container" style="background-color: #DDA0DD;" title="Plum"></div>
  <div class="color-container" style="background-color: #708090;" title="Slate Gray"></div>
  <div class="color-container" style="background-color: #778899;" title="Light Slate Gray"></div>
  <div class="color-container" style="background-color: #D3D3D3;" title="Light Gray"></div>
  <div class="color-container" style="background-color: #DCDCDC;" title="Gainsboro"></div>
  <div class="color-container" style="background-color: #FFFFFF; border: 1px solid #999; margin-right:7px" title="White" (click)="onColorSelect(White)"></div> -->
</div>