@if (themeService.isDarkMode()) {
  <div
    class="flex ml-5 p-2 rounded-sm hover:bg-gray-200 dark:hover:bg-[var(--main_dark_hover_color)] cursor-pointer"
    [ngClass]="'bg-' + bgColor"
  >
    @if (imgSide == "Left") {
      <button class="mr-2 flex h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="darkSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }

    @if (imgSide == "middle") {
      <button class="flex h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="lightSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }

    <span class="text-black dark:text-[var(--main_dark_text_color)] mt-0.5">{{
      btnText
    }}</span>

    @if (imgSide == "Right") {
      <button class="flex ml-2 h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="darkSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }
  </div>
} @else {
  <div
    class="flex ml-5 p-2 rounded-sm hover:bg-gray-200 dark:hover:bg-[var(--main_dark_hover_color)] cursor-pointer"
    [ngClass]="'bg-' + bgColor"
  >
    @if (imgSide == "Left") {
      <button class="mr-2 flex h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="lightSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }

    @if (imgSide == "middle") {
      <button class="flex h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="lightSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }

    <span class="text-black dark:text-[var(--main_dark_text_color)]">{{
      btnText
    }}</span>

    @if (imgSide == "Right") {
      <button class="flex ml-2 h-6 rounded-sm">
        <img
          class="cursor-pointer"
          [src]="lightSrc"
          [style.width.px]="width"
          [style.height.px]="height"
        />
      </button>
    }
  </div>
}
