<div class="flex hover:border-blue-700">
    <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-nw-resize" #tl_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2) + 'px, ' + (boxBase.BoxDims.top - 2) + 'px)'}">
    </div>

     <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-ne-resize" #bl_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2) + 'px, ' + (boxBase.BoxDims.top - 2 + + boxBase.BoxDims.height - 4) + 'px)'}">
    </div>

    <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-ne-resize" #tr_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2 + boxBase.BoxDims.width - 4) + 'px, ' + (boxBase.BoxDims.top - 2) + 'px)'}">
    </div>

    <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-nw-resize" #tl_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2 + boxBase.BoxDims.width - 4) + 'px, ' + (boxBase.BoxDims.top - 2 + boxBase.BoxDims.height - 4) + 'px)'}">
    </div>

    <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-n-resize" #bm_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2 + (boxBase.BoxDims.width / 2) - 2) + 'px, ' + (boxBase.BoxDims.top  - 1.5 + boxBase.BoxDims.height - 4) + 'px)'}">
    </div>

    <div class="w-2 h-2 absolute bg-blue-500 hover:border-blue-700 hover:shadow-md cursor-n-resize" #tm_handle
        [ngStyle]="{ transform: 'translate(' + (boxBase.BoxDims.left - 2 + (boxBase.BoxDims.width / 2) - 2) + 'px, ' + (boxBase.BoxDims.top - 2.5) + 'px)'}">
    </div>

    <div class="textBoxStyle border-3 border-dashed border-blue-500 z-50
            hover:border-blue-700 hover:shadow-md cursor-move overflow-hidden" #movableDiv [ngStyle]="{ transform: 'translate(' + boxBase.BoxDims.left + 'px, ' + boxBase.BoxDims.top + 'px)',
                                        width: boxBase.BoxDims.width + 'px',
                                        height: boxBase.BoxDims.height + 'px'}">


        <div #childContainer></div>
    </div>

    <div #childContainerAddOn></div>
</div>

<!-- (dragend)="onDragEnd($event)" -->