<div class="w-[90%] max-w-[1600px] h-14 px-4 sm:px-6 flex items-center justify-start text-center
         absolute top-[2%] left-1/2 transform -translate-x-1/2
         z-50 rounded-2xl translucentStyle">

    <!-- Insert TextBoxCreate Button -->
    <button class="toolbarBtnStyle px-4 py-1" #TextButtonContainer title="Enter Text"
        (click)="OnTextBtnClicked($event)">

        <span id="textBtnText" class=>Text</span>
        <div class="flex w-[20px] h-[20px] bg-black rounded-[5px] ml-[7px]"
            [style.background-color]="textEditService.getCurrentTextStyleEditor().currentColor"
            [ngStyle]="{ 'background-color': textEditService.getCurrentTextStyleEditor().currentColor }"
            [ngClass]="{'borderedColorContainer': textEditService.getCurrentTextStyleEditor().currentColor === '#FFFFFF'}">
        </div>
    </button>

    <!-- Vertical Line -->
    <div class="w-[2px] h-[80%] bg-[var(--btn_border_color)] mx-[5px]"></div>

    <!-- Insert Img Button -->
    <button class="toolbarBtnStyle px-3 py-2" title="Paste Image" (click)="OnInsertImageBtnClicked($event)">
        <img class="flex w-[22px] h-[22px]" src="/assets/icons/paste_image.svg">
    </button>

    <span class="absolute left-1/2 transform -translate-x-1/2 text-center font-medium">
       <input type="text" [(ngModel)]="currentPage" (ngModelChange)="onPageChange($event)" 
              class="w-6  outline-none hover:border hover:border-gray-400 hover:rounded text-center"
       />/ {{ this.pdfViewerService.totalPages }}
    </span>

    <!-- Vertical Line -->
    <div class="w-[2px] h-[80%] bg-[var(--btn_border_color)] mx-[5px]"></div>

    <!-- Insert Download Button -->
    <button class="toolbarBtnStyle px-3 py-2 ml-auto" title="Download File" (click)="OnDownloadBtnClicked($event)">
        <img class="flex w-[30px] h-[30px]" src="/assets/icons/downloadIcon.svg">
    </button>
</div>

<app-text-style-bar></app-text-style-bar>
