<div
  class="translucentStyle flex items-center text-center mt-2"
  [style.border-radius.px]="borderRadius"
>
  <!-- <span class="mt-1" [style.font-size.px]="fontSize">#{{ pageNumber }}</span> -->

  <button
    class="hover:bg-gray-200/100 dark:hover:bg-[var(--main_dark_hover_color)] pageInfoStyle flex items-center text-center justify-center"
    [style.width.px]="width"
    [style.height.px]="width"
    [style.border-top-left-radius.px]="borderRadius"
    [style.border-top-right-radius.px]="borderRadius"
    (click)="MovePage($event)"
  >
    @if (!themeService.isDarkMode()) {
      <img
        [src]="themeService.assetConstants.MOVE_PAGE_BASE_LIGHT_MODE"
        alt="Move Page Icon"
        class="w-[60%] block h-full hover:opacity-0"
      />
    } @else {
      <img
        [src]="themeService.assetConstants.MOVE_PAGE_BASE_DARK_MODE"
        alt="Move Page Icon"
        class="w-[60%] block h-full hover:opacity-0"
      />
    }

    <img
      [src]="themeService.assetConstants.MOVE_PAGE_HOVER_ALL"
      alt="Move Page Icon"
      class="w-[60%] absolute h-full opacity-0 hover:opacity-100 hover:scale-120 transform transition-transform duration-500"
    />
  </button>

  <button
    class="hover:bg-red-500/100 pageInfoStyle flex items-center text-center justify-center"
    [style.width.px]="width"
    [style.height.px]="width"
    (click)="DeletePage($event)"
  >
    @if (!themeService.isDarkMode()) {
      <img
        [src]="themeService.assetConstants.TRASHCAN_BASE_LIGHT_MODE"
        alt="Delete Page Icon"
        class="w-[65%] block h-full hover:opacity-0"
      />
    } @else {
      <img
        [src]="themeService.assetConstants.TRASHCAN_BASE_DARK_MODE"
        alt="Delete Page Icon"
        class="w-[65%] block h-full hover:opacity-0"
      />
    }

    <img
      [src]="themeService.assetConstants.TRASHCAN_HOVER_ALL"
      alt="Delete Page Icon"
      class="w-[65%] absolute h-full opacity-0 hover:opacity-100 hover:scale-120 transform transition-transform duration-500"
    />
  </button>

  @if (!IsOrganizePreview) {
    <button
      [style.width.px]="width"
      [style.height.px]="width"
      class="hover:bg-blue-500/100 pageInfoStyle flex items-center text-center justify-center"
      [style.border-bottom-left-radius.px]="borderRadius"
      [style.border-bottom-right-radius.px]="borderRadius"
      (click)="ShowInfo($event)"
    >
      @if (!themeService.isDarkMode()) {
        <img
          [src]="themeService.assetConstants.INFO_BASE_LIGHT_MODE"
          alt="Delete Page Icon"
          class="w-[60%] block h-full hover:opacity-0"
        />
      } @else {
        <img
          [src]="themeService.assetConstants.INFO_BASE_DARK_MODE"
          alt="Delete Page Icon"
          class="w-[60%] block h-full hover:opacity-0"
        />
      }

      <img
        [src]="themeService.assetConstants.INFO_HOVER_ALL"
        alt="Delete Page Icon"
        class="w-[60%] absolute h-full opacity-0 hover:opacity-100 hover:scale-110 transform transition-transform duration-500"
      />
    </button>
  } @else {
    <app-checkbox (checkChanged)="checkChanged($event)"></app-checkbox>
  }

  <div></div>
</div>
